@import "tailwindcss";

@font-face {
  font-family: "Merriweather";
  src: url("./font/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-merriweather {
  font-family: "Merriweather", serif;
}
